/* Generations */
.mainButton {
    display: flex;
    position: relative;
    border: 0.1rem black;
    border-bottom-style: solid;
    border-radius: 0.2rem;
    box-sizing: content-box;
    background-color: #e9e8ed;
    cursor: pointer;
    width: 10rem;
    height: 1.64rem;
    justify-content: center;
    align-content: end;
    line-height: 25px;
    font-size: 14px;
}

.checklist {
    display: inline-flex;
    position: absolute;
    flex-direction: column;
    background-color: white;
    width: 10rem;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    text-align: left;
}

/* Types */
.typesButton {
    display: flex;
    position: relative;
    border: 0.1rem black;
    border-bottom-style: solid;
    border-radius: 0.2rem;
    box-sizing: content-box;
    background-color: #e9e8ed;
    cursor: pointer;
    width: inherit;
    height: 1.64rem;
    justify-content: center;
    align-content: center;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
}

.typesChecklist {
    display: inline-flex;
    position: absolute;
    flex-direction: column;
    background-color: white;
    width: 10rem;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    text-align: left;
}

/* Other */
.zIndex {
    z-index: 1;
}

.listButtonHighlight {
    background-color: #eeeeee;
}

.mainButtonHighlight {
    background-color: lightgray;
}

.checkbox {
    cursor: pointer;
    padding-left: 3px;
}

.empty {
    display: none;
}

.hidePadding {
    padding-bottom: 0;
    border-bottom: 0;
}

.border {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid lightgray;
    padding-bottom: 2px;
}

.topBorder {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-left: 5px;
    border-top: 2px solid lightgray;
}

.genLabel {
    display: block;
    width: 100%;
    font-weight: bold;
    padding-left: 5px;
}

.selected {
    background-color: lightgray;
}