@import "./typings.css";

:root {
    --sprite-width: 125px;
}

.popupWindow {
    background-color: darkslategray;
    display: inline-flex;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    margin: 0.5rem;
    padding: 10px;
    --sprite-width: 75px;
}

.popupWindow:empty {
    display: none;
}

.teamBorder {
    display: inline-flex;
    flex-direction: column;
    margin: 10px 10px 20px;
    padding: 10px;
    border: 4px ridge white;
    border-radius: 3px;
    background-color: rgba(211, 211, 211, 80%);
    text-align: center;
    box-shadow: 0 7px 7px 0 black, 0 7px 7px 0 black;
}

.teamImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    width: 125px;
    cursor: pointer;
}

.caption {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

.note {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.groupBorder {
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgb(128, 128, 128);
    border: 4px ridge white;
    border-radius: 3px;
    background-color: rgba(211, 211, 211, 80%);
    text-align: center;
    box-shadow: 0 7px 7px 0 black, 0 7px 7px 0 black;
}

.generationText {
    margin: 0;
    padding: 8px 0;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    background-color: rgba(105, 105, 105, 0.8);
    border: 4px none white;
    border-bottom-style: ridge;
}

.pokemonListWrapper {
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Example grid layout */
    grid-gap: 5px;
}

.pokemonSprite {
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
}

.teamSprite {
    z-index: 4;
    width: var(--sprite-width);
    margin-left: 5px;
    margin-right: 5px;
}

.behindSprite {
    z-index: 1;
    width: var(--sprite-width);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--type-color);
    background-image: url("../../../../images/pokeballSymbol.png");
    background-size: calc(var(--sprite-width) + 2px);
    background-position: center;
}

.behindSprite2 {
    z-index: 2;
    width: var(--sprite-width);
    margin-left: 5px;
    margin-right: 5px;
    /*background: -webkit-linear-gradient(var(--type-color), var(--type2-color));*/
    background:
        url("../../../../images/pokeballSymbol.png") no-repeat,
        linear-gradient(
                /*to right,*/
                var(--type-color) 0%,
                var(--type-color) 50%,
                var(--type2-color) 50%,
                var(--type2-color) 100%
        );
    background-size: calc(var(--sprite-width) + 2px);
}

.pokemonSprite.highlight {
    background-image: url("../../../../images/glow.png");
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.pokemonSprite.altHighlight {
    background-image: url("../../../../images/altGlow.png");
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
}