.App {
  text-align: center;
  background-color: skyblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --bottom-fade-gradient:
          linear-gradient(to bottom,
          rgba(255, 255, 255, 0) 90%, /* Transparent until 90% */
          rgba(255, 255, 255, 1) 100%); /* Fully white at the bottom */
}

input.search {
    width: 10rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    border: 0.1rem solid black;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

button.search {
    height: 1.805rem;
    border: 0.1rem solid black;
    border-left: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.backgroundDefault {
  background-image: var(--bottom-fade-gradient), #282c34;
  background-clip: content-box
}

.backgroundRBGY {
  background-image:
          var(--bottom-fade-gradient),
          linear-gradient(to right,
          #e05d4b 0%, #e05d4b 24%, /* Red from 0% to 33.33% */
          #009fd7 25%, #009fd7 49%, /* Blue from 33.33% to 66.66% */
          #09cf44 50%, #09cf44 74%, /* Blue from 33.33% to 66.66% */
          #ffd662 75%, #ffd662 100%); /* Yellow from 66.66% to 100% */
  background-blend-mode: normal;
}

.backgroundGSC {
  background-image:
          var(--bottom-fade-gradient),
          linear-gradient(to right,
          #776944 0%, #776944 32.66%, /* Red from 0% to 33.33% */
          #5d646d 33.66%, #5d646d 66.33%, /* Blue from 33.33% to 66.66% */
          #5d79ba 67.33%, #5d79ba 100%); /* Yellow from 66.66% to 100% */
  background-blend-mode: normal;
}

.backgroundRSE {
  background-size: 100%, auto;
  background-image:
          url("../images/bg/rseSilhouettes.png"),
          var(--bottom-fade-gradient),
          linear-gradient(to right,
          #d24040 0%, #d24040 32.66%, /* Red from 0% to 33.33% */
          #000000 32.66%, #000000 33.66%,
          #56bb6e 33.66%, #56bb6e 66.33%, /* Blue from 33.33% to 66.66% */
          #000000 66.33%, #000000 67.33%,
          #0175b7 67.33%, #0175b7 100%); /* Yellow from 66.66% to 100% */
  background-blend-mode: normal;
  background-repeat: repeat, no-repeat, no-repeat;
}

.backgroundDPP {
  background-image:
          var(--bottom-fade-gradient),
          linear-gradient(to right,
          #004c72 0%, #004c72 32.66%, /* Red from 0% to 33.33% */
          #ae6d81 33.66%, #ae6d81 66.33%, /* Blue from 33.33% to 66.66% */
          #ee634b 67.33%, #ee634b 100%); /* Yellow from 66.66% to 100% */
  background-blend-mode: normal;
}

.backgroundBW {
  background-size: 100%, 100%;
  background-image: var(--bottom-fade-gradient), url("../images/bg/pokemonBGTemplate.jpg");

  background-color: #676767;
  background-blend-mode: normal;
  background-repeat: repeat;
  padding: 15px;
}

.backgroundXY {
  background-image:
          var(--bottom-fade-gradient),
          linear-gradient(to right,
          #86d9b9 49%, /* Gray side */
          #f8ffff 50%, /* Middle color stop for smoother transition */
          #233556 51%); /* White side */
  background-blend-mode: normal;
}

.backgroundSM {
  background-image:
          var(--bottom-fade-gradient),
          linear-gradient(to right,
          #e37128 48%, /* Gray side */
          #f2ad73 50%,
          #4c3085 52%); /* White side */
  background-blend-mode: normal;
}

.backgroundSS {
  background-image:
          var(--bottom-fade-gradient),
          linear-gradient(to right,
          #65bee6 49%, /* Gray side */
          #e87083 51%); /* White side */
  background-blend-mode: normal;
}

.backgroundSV {
  background-image:
          var(--bottom-fade-gradient),
          linear-gradient(to right,
          #c12a49 49%, /* Gray side */
          #9f339c 51%); /* White side */
  background-blend-mode: normal;
}